<%= form_with model: Customer.new, url: admin_planify_customers_path, method: :post do |form| %>
  <div class="card card-body mt-4">
    <h6 class="mb-0"><%= SharedDecorator.view_title(action_name, controller_name) %></h6>

    <hr class="horizontal dark my-2">

    <div class="row">
      <div class="col">
        <label for="customer_name" class="form-label"><%= t('activerecord.attributes.customer.name') %></label>
        <%= form.text_field :name, class: 'form-control', required: true, autofocus: true %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <label for="customer_identifier" class="form-label"><%= t('activerecord.attributes.customer.identifier').humanize %></label>
        <%= form.text_field :identifier, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <label for="customer_customer_type" class="form-label">
          <%= t('activerecord.attributes.customer.customer_type').humanize %>
        </label>

        <% Customers::Type.list.each do |customer_type|%>
          <div class="form-check">
            <%= form.radio_button :customer_type, customer_type, required: true, class: 'form-check-input' %>
            <label class="text-normal text-sm" for="customer_customer_type"><%= t(customer_type, scope: 'enumerations.customers/type') %></label>
          </div>
        <% end %>
      </div>
    </div>

    <hr class="horizontal dark m-3">

    <%= form.fields_for :customer_address, CustomerAddress.new do |address| %>
      <div class="row mt-2">
        <div class="col">
          <label for="customer_customer_address_full_address" class="form-label"><%= t('activerecord.attributes.customer_address.full_address').humanize %></label>
          <%= address.text_field :address, class: 'form-control' %>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-lg-4 col-md-12 col-xs-12">
          <label for="customer_customer_address_country" class="form-label">
            <%= t('activerecord.attributes.customer_address.country').humanize %>
          </label>

          <br>

          <div id="customer_country_select"
               data-controller="shared--virtual-select shared--countries"
               data-url="/countries"
               data-multiple="false"
               data-placeholder="<%= I18n.t('shared.dropdowns.select') %>"
               data-action="change->shared--countries#getStates"></div>
        </div>

        <div class="col-lg-4 col-md-12 col-xs-12">
          <label for="customer_customer_address_country" class="form-label">
            <%= t('activerecord.attributes.customer_address.state').humanize %>
          </label>

          <br>

          <%= render Shared::Select::MultipleComponent.new %>
        </div>

        <div class="col-lg-4 col-md-12 col-xs-12">
          <label for="customer_customer_address_country" class="form-label">
            <%= t('activerecord.attributes.customer_address.city').humanize %>
          </label>

          <br>

          <%= render Shared::Select::MultipleComponent.new %>
        </div>
      </div>
    <% end %>

    <div class="row mt-2">
      <div class="col">
        <%= form.submit 'Guardar', class: 'btn bg-gradient-success w-100' %>
      </div>
    </div>
  </div>
<% end %>