<%= turbo_frame_tag 'customer-show-basic-info' do %>
  <div class="row">
    <div class="col">
      <label for="customer_name" class="form-label"><%= t('activerecord.attributes.customer.name') %></label>
      <br>
      <p id="customer_name" class="form-label text-normal"><%= @customer.name %></p>
    </div>

    <div class="col text-end me-2">
      <%= link_to 'Editar', edit_admin_planify_customer_path(@customer), class: 'btn bg-gradient-info', data: { controller: 'shared--turbo-request' } %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label for="customer_identifier" class="form-label"><%= t('activerecord.attributes.customer.identifier').humanize %></label>
      <p id="customer_identifier" class="form-label text-normal"><%= @customer.identifier %></p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label for="customer_customer_type" class="form-label"><%= t('activerecord.attributes.customer.customer_type').humanize %></label>
      <p id="customer_customer_type" class="form-label text-normal"><%= t(@customer.customer_type, scope: 'enumerations.customers/type') %></p>
    </div>
  </div>
<% end %>