<%= turbo_frame_tag 'customer-show-contact-data' do %>
  <div class="row">
    <div class="col">
      <label class="form-label"><%= t('activerecord.attributes.customer_contact.email') %></label>
      <br>
      <p class="form-label text-normal"><%= default_value(contact) || contact.email %></p>
    </div>

    <div class="col text-end me-2">
      <% if contact.nil? %>
        <%= link_to'Cargar Informacion',
                   new_admin_planify_customer_customer_contact_path(customer_id: @customer.id),
                   class: 'btn bg-gradient-info',
                   data: { controller: 'shared--turbo-request' } %>
      <% else %>
        <%= link_to 'Editar',
                    edit_admin_planify_customer_customer_contact_path(customer_id: contact.customer_id, id: contact.id),
                    class: 'btn bg-gradient-info',
                    data: { controller: 'shared--turbo-request' } %>
      <% end %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label class="form-label"><%= t('activerecord.attributes.customer_contact.phone') %></label>
      <p class="form-label text-normal"><%= default_value(contact) || contact.phone %></p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label class="form-label"><%= t('activerecord.attributes.customer_contact.whatsapp') %></label>
      <p class="form-label text-normal"><%= default_value(contact) || contact.whatsapp %></p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label class="form-label"><%= t('activerecord.attributes.customer_contact.facebook') %></label>
      <p class="form-label text-normal"><%= default_value(contact) || contact.facebook %></p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label class="form-label"><%= t('activerecord.attributes.customer_contact.instagram') %></label>
      <p class="form-label text-normal"><%= default_value(contact) || contact.instagram %></p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label class="form-label"><%= t('activerecord.attributes.customer_contact.twitter') %></label>
      <p class="form-label text-normal"><%= default_value(contact) || contact.twitter %></p>
    </div>
  </div>
<% end %>