<div class="card card-body mt-4">
  <div class="row">
    <div class="col">
      <h5 class="font-weight-bolder">Datos de contacto</h5>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mt-2">
    <div class="col">
      <label><i class="bi bi-envelope"></i> <%= @customer.contact.email %></label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label><i class="bi bi-telephone"></i> <%= @customer.contact.phone %></label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label><i class="bi bi-facebook"></i> <%= @customer.contact.facebook %></label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label><i class="bi bi-instagram"></i> <%= @customer.contact.instagram %></label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label><i class="bi bi-twitter"></i> <%= @customer.contact.twitter %></label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label><i class="bi bi-whatsapp"></i> <%= @customer.contact.whatsapp %></label>
    </div>
  </div>
</div>