<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: 'false' }}) do |f| %>
  <section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-dark mb-2 mt-5">¡Bienvenido!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Iniciar sesión</h5>
            </div>
            <div class="card-body">
              <div class="text-left">
                <div class="mb-3">
                  <label>Email</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Escribe tu email', required: true %>
                </div>

                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label>Contraseña</label>
                    </div>

                    <div class="col">
                      <a class="text-sm" href="<%= new_password_path(resource_name) %>">¿Olvidaste tu contraseña?</a>
                    </div>
                  </div>

                  <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Contraseña', required: true %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form-check form-switch">
                    <%= f.check_box :remember_me, class: 'form-check-input' %>
                    <label class="form-check-label" for="rememberMe">Recordarme</label>
                  </div>
                  <%#= f.check_box :remember_me %>
<!--                  <label>Recordarme</label>-->
                <% end %>

                <div class="text-center mb-4">
                  <%= f.submit "Log in", class: 'btn bg-gradient-dark w-100 my-4 mb-2' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>